
<div class="container">
  <ul id="menu">
    <% @interests.each do |interest| %>
      <li>
        <div class="col-sm card card-index">
          <%= image_tag "#{interest.image_name}.jpg", size:"256x256",  class: "card-img-top"%>
          <div class="card-body bord">
            <h5 class="card-title"><%= interest.read_attribute(:name) %></h5>
            <p class="card-text"><%= interest.read_attribute(:description) %></p>
            <%= link_to "Learn more", interest_path(interest), class: "btn btn-info" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
    <%= paginate @interests %>
</div>

<footer>
  <%= image_tag "headshot.jpg", size: "137x205", class:"headshot"%>
  <div class="center">
    <%= mail_to 'tstephens010@gmail.com', nil %>
  </div>
</footer>