<!DOCTYPE html>
<html>
  <head>
    <title>Cocoa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar bg-custom" onclick="dropFunction()">
    <ul class="navbar-nav" >
      <li>
        <div>
        <a class="hams" href="#"></a>
        <a class="hams" href="#"></a>
        <a class="hams" href="#"></a>
        </div>
        <div id="myDropdown" class="dropdown-content">
          <%= link_to "Interests", interests_path, class: [@is_interest, 'aselect']  %>
          <%= link_to "Projects", projects_path, class: [@is_project, 'aselect'] %>
          <%= link_to "Resume", 'https://drive.google.com/open?id=1r7rxwXqM8x4D3ZE3kD-W-um-AhgnEc7b', class: 'aselect'  %>
        </div>
      </li>
    </ul>
  </nav>
  </div>

  <body>
    <%= yield %>
  </body>
</html>

